@import url("https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css");

html,
body {
    font-family: "LXGW WenKai Screen", "Microsoft YaHei", "微软雅黑", "宋体", "Arial", "Helvetica", sans-serif;
}

html,
body,
ul,
li,
a {
    color: #fff79f;
    background-color: #1e1e1e;
}

body {
    margin: 1em;
}

h1 {
    font-size: 26pt;
}

p.author {
    font-size: medium;
    font-style: 16pt;
    font-style: italic;
}

p,
li>a {
    font-size: 18pt;
    line-height: 26pt;
}

footer,
footer a {
    font-size: 14pt;
    line-height: 20pt;
}

ruby rt {
    font-size: 12pt;
}